#root {
  position: relative;
  width: 100%;
  height: 100%;
  /* 设置全局 header 高度变量 */
  --header-height: 80px;
  --status-bar-height: var(--safe-area-inset-top, 0);
  --total-header-height: calc(var(--header-height) + var(--status-bar-height));
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1em;
}

.app-header {
  position: relative;
  width: 100%;
  height: var(--header-height);
  padding: 10px 0;
}

.app-header h1 {
  display: inline;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.app-header h2 {
  display: inline;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.app-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100% - var(--total-header-height));
  gap: 30px;
  padding: 20px 0;
}

.markdown-area {
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preview-area {
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .app-content {
    flex-direction: column;
    gap: 25px;
  }

  .markdown-area,
  .preview-area {
    max-width: 100%;
  }
}
